html{
	height: 100%;
}

body{
	background: url(image/frontpage.jpg) no-repeat center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	z-index: -1;
	height:100%;
}

h1{
	position: absolute;
	font-family: 'Lobster', cursive;
	font-size: 600px;
	color: rgb(0, 0,0);
	top: 5%;
	right: 62%;
	margin:0;
	line-height: 0.5em;
	cursor: default;
	z-index: inherit;

}

ul{
	position: absolute;
	bottom:40px;
	left: 65px;
	color: white;
	z-index: 1;
}

li{
	display: inline;
	font-size:20px;
	margin-right:40px;
	border-top:2px solid gray;
	cursor: pointer;
	-moz-transition:width all 0.4s; 
    -webkit-transition:width all 0.4s;
    -o-transition:width all 0.4s; 
	transition:all 0.4s;
}

li:hover{
	
	border-top:2px solid black;
}
